<form method="post">
  <label for="querytitle">Title:</label>
  <input type="text" id="querytitle" name="title" /><br /><br />
  <label for="querybody">Query Body:</label>
  <input type="textarea" id="querybody" name="queryBody" /><br /><br />
  <button type="submit">Send Query</button>
</form>
